
/* #myname{
    font-size:34px;
    position:relative;
    top:190px;
    left:42%;
    color:red;
}
#hidden{
    position:relative;
    top:210px;
    left:42%;
    font-size:25px;
    padding:20px;
    border-radius:20px;
} */